# Build results & dependencies
bin/
obj/
publish/
.vs/
*.user

# Configuration & Secrets
appsettings.*.json
!appsettings.json
!appsettings.Development.json.example

# File uploads, backups & storage
wwwroot/uploads/
App_Data/
*.bak
*.backup
*.pfx
secrets.json

# OS and Editor files
.DS_Store
Thumbs.db
*.suo
*.userosscache
*.sln.docstates
